body {
  background: linear-gradient(#e2eaf8, #f1f6ff);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.weather-app-wrapper {
  max-width: 300px;
  margin: 50px auto;
  font-size: 14px;
}

.card {
  padding: 25px 20px;
  border: 6px solid #adb5bd85;
  background-image: linear-gradient(#ffffff, 40%, #eaeaf1b3);
  border-radius: 30px;
  box-shadow: 0px 12px 16px #e7eaef;
}
.city-day {
  line-height: 20px;
  margin-top: 4px;
}

.city-headline {
  font-size: 20px;
  color: #3a3b3efa;
}
.day-headline {
  font-size: 12px;
  color: #bfc0c3;
}
.hours {
  font-size: 46px;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
  background-image: linear-gradient(#ffffff, #cfe1fd 0%, #93bcff);
  text-shadow: none;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 600;
  line-height: 40px;
  padding-right: 20px;
  padding-left: 0px;
}
.current-weather {
  border: 1px none;
  border-radius: 25px;
  background-image: linear-gradient(#aecdff, #5896fd);
  box-shadow: 0px 12px 16px #aecdff;
  margin: 40px 0 27px 0px;
  padding: 20px 10px 0 10px;
}
.main-weather-icon {
  height: 155px;
  width: 155px;
  position: absolute;
  bottom: 30px;
  right: -10px;
}
.main-icon-description {
  margin-top: 55px;
  margin-left: -10px;
  font-size: 17px;
  color: #fff;
  text-transform: capitalize;
}
.current-deegre {
  font-size: 65px;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
  background-image: linear-gradient(#ffffff, #cfe1fd 64%, #93bcff);
  text-shadow: none;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 600;
  line-height: 53px;
}
.main-deegre-units {
  position: relative;
  font-size: 13px;
  right: -75px;
  bottom: 51px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.feels-like {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: -5px;
  right: 7px;
}
.feels-like-unit {
  font-size: 9px;
  position: relative;
  top: -23px;
  left: 86px;
}
.description {
  margin-right: -15px;
  margin-left: -20px;
}
.wind-box {
  border: 1px none;
  border-radius: 8px;
  text-align: center;
  position: relative;
  left: 15px;
  padding: 8px 0;
  width: 54px;
  background-color: #aecdffa8;
  box-shadow: 3px 3px 16px #aecdff;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 1px;
}
.second-desc-style {
  font-size: 11px;
  color: #3a3b3efa;
  text-align: center;
}
.perc-box {
  border: 1px none;
  border-radius: 8px;
  text-align: center;
  position: relative;
  left: 22px;
  padding: 8px 0;
  width: 54px;
  background-color: #aecdffa8;
  box-shadow: 3px 3px 16px #aecdff;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 1px;
}
.humidity-box {
  border: 1px none;
  border-radius: 8px;
  text-align: center;
  position: relative;
  left: 15px;
  padding: 8px 0;
  width: 54px;
  background-color: #aecdffa8;
  box-shadow: 3px 3px 16px #aecdff;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 1px;
}
.wind-col {
  padding-right: 0;
}
.perc-col {
  padding-right: 0;
  padding-left: 0;
}
.humidity-col {
  padding-left: 0;
}
.fa-tint,
.fa-temperature-high,
.fa-wind {
  color: #806ef8;
  font-size: 25px;
}
.fa-wind {
  color: #5896fd;
}
.fa-temperature-high {
  color: #de6565;
}
.five-days-headline {
  font-size: 20px;
  margin: 20px 0 15px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  color: #3a3b3efa;
}

.prediction-icon {
  height: 54px;
  position: relative;
  right: 7px;
  top: -8px;
}
.first-day-pred {
  position: relative;
  bottom: 23px;
  right: -2px;
}
.pred-units {
  font-size: 9px;
  position: relative;
  bottom: 7px;
  left: 1px;
}
.pred-style {
  border: 1px none;
  border-radius: 20px;
  width: 45px;
  text-align: center;
  padding: 5px;
  height: 95px;
  background-color: #fff;
  color: #bfc0c3;
}
.row-cols-5 {
  margin-right: -12px;
  margin-left: -5px;
}
.col {
  padding: 0;
}
.signuture {
  margin-top: 15px;
}

.pred-style:hover {
  background-image: linear-gradient(#b0a4ff, #806ef8);
  color: #fff;
  box-shadow: 0px 3px 20px #806ef8;
}
